/*
* @Author: dhl
* @Date:   2018-01-08 09:52:20
* @Last Modified by:   dhl
* @Last Modified time: 2018-01-09 09:20:29
*/

body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,dt,dd,li {
	margin: 0;
	padding: 0;
	list-style: none;
	/*font-size: 12px;*/
	/*font-family: "黑体";*/
	color: #000;
}

body {
	background-color: #f6f6f6;
}

a {
	text-decoration: none;
	/*font-size: 12px;*/
	/*font-family: "黑体";*/
	color: #000;
}

a:hover {
	 color: #ea2920;
}


img,input {
	border: 0 none;
	outline-style: none;
	padding: 0;
	vertical-align: bottom;
}

.w {
	width: 1190px;
	margin: 0 auto;
}

.clearfix::after {
	content: "";
	height: 0;
	line-height: 0;
	display: block;
	clear: both;
	visibility: hidden;
}
.clearfix {
	 zoom: 1;
}

/* .fl {
	float: left;
}

.fr {
	float: right;
}
 */


