/*初始化样式*/

body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 14px;
}

a {
    text-decoration: none;
    color: #221e1f;
}

a:hover {
    color: #c9242b;
}

img, input, button {
    margin: 0;
    padding: 0;
    vertical-align: bottom;
    border: none;
    outline-style: none;
}

/*浮动*/

.clearfix:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
    line-height: 0;
    visibility: hidden;

}

/*兼容IE*/
.clearfix {
    *zoom: 1;
}

/*版心*/

.w {
    width: 1200px;
    margin: 0 auto;
}







