


body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,dt,dd{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: ו;
    font-size: 14px;
    color: #504230;

}

a {
    text-decoration: none;
    color: #000;
}
a:hover {
    color: #00a4ff;
}


img,input {
    border: 0 none;
    outline-style: none;
    margin: 0;
    padding: 0;
    vertical-align: bottom;
}


.clearfix::after {
    content: "";
    height: 0;
    line-height: 0;
    display: block;
    clear: both;
    visibility: hidden;

}
.clearfix {
    zoom:1;
}

.w {
    width: 640px;
    margin: 0 auto;

}
