/*底部开始*/
.bottom {
    width: 100%;
    height: 132px;
    position: fixed;
    bottom: 0;
    background-color: #e7e7e7;
}

.bottom .f-logo {
    width: 64px;
    height: 66px;
    background: url("../images/logo_bottom.png") no-repeat center;
    float: left;
    margin-top: 38px;
    margin-left: 28px;

}

.bottom .f-center {
    width: 632px;
    float: left;
    color: #888888;
    margin: 10px 0 0 54px;
}

.f-center p {
    height: 18px;
    font: 12px 'simsun';
}

.bottom .f-center span {
    color: #ffb161;
}

.f-center p a {
    display: inline-block;
    height: 20px;
    width: 200px;
    padding-left: 24px;
    background: url("../images/police_icon.png") no-repeat left center;
}

.f-business {
    width: 420px;
    height: 40px;
    float: right;
    margin-top: 38px;
    background: url("../images/cy.png") no-repeat -5px 3px, url('../images/report.png') no-repeat right;
}

/*底部结束*/